In [1]:
import pandas as pd

# Load the CSV file into a DataFrame
hehe = "../../data/Parking_Violations.csv"
df = pd.read_csv(hehe)

/var/folders/x7/ft4bdn4n2gg_922mtg2wdyfw0000gn/T/ipykernel_84322/2030373170.py:5: DtypeWarning: Columns (18,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(hehe)

In [39]:
total_rows = df.shape[0]
print("Total number of rows:", total_rows)

Total number of rows: 10803028

In [3]:
violation_time_null_count = df['Violation Time'].isnull().sum()
print("Number of null values in 'Violation Time' column:", violation_time_null_count)

Number of null values in 'Violation Time' column: 63

In [13]:
# Get the rows that do not match the pattern
invalid_values = df[~df['Violation Time'].str.match(pattern, na=False)]['Violation Time']

# Print the first 10 invalid values
print("First 10 values in 'Violation Time' column that do not follow the format HHMM followed by A or P:")
print(invalid_values.head(10))

First 10 values in 'Violation Time' column that do not follow the format HHMM followed by A or P:
100498       NaN
207517       NaN
272345     084/A
447069       NaN
733330     0.22A
743539       NaN
1043294      NaN
1105771     1237
1281788     0557
1307867    110+A
Name: Violation Time, dtype: object

In [32]:
head = df["Violation Time"].head(10)
print(head)

0    0143A
1    0400P
2    0233P
3    1120A
4    0555P
5    0852P
6    0215A
7    0758A
8    1005A
9    0845A
Name: Violation Time, dtype: object

In [2]:
print(df.columns)

Index(['Summons Number', 'Plate ID', 'Registration State', 'Plate Type',
       'Issue Date', 'Violation Code', 'Vehicle Body Type', 'Vehicle Make',
       'Issuing Agency', 'Street Code1', 'Street Code2', 'Street Code3',
       'Vehicle Expiration Date', 'Violation Location', 'Violation Precinct',
       'Issuer Precinct', 'Issuer Code', 'Issuer Command', 'Issuer Squad',
       'Violation Time', 'Time First Observed', 'Violation County',
       'Violation In Front Of Or Opposite', 'House Number', 'Street Name',
       'Intersecting Street', 'Date First Observed', 'Law Section',
       'Sub Division', 'Violation Legal Code', 'Days Parking In Effect    ',
       'From Hours In Effect', 'To Hours In Effect', 'Vehicle Color',
       'Unregistered Vehicle?', 'Vehicle Year', 'Meter Number',
       'Feet From Curb', 'Violation Post Code', 'Violation Description',
       'No Standing or Stopping Violation', 'Hydrant Violation',
       'Double Parking Violation'],
      dtype='object')

In [18]:
vehicle_body_type_null_count = df['Vehicle Make'].isnull().sum()
print("Number of null values in 'Vehicle Make' column:", vehicle_body_type_null_count)

Number of null values in 'Vehicle Make' column: 73050

In [17]:
unique_vehicle_body_types = df['Vehicle Make'].unique()
print(unique_vehicle_body_types)

['TOYOT' 'FORD' 'MITSU' ... 'YINO' 'FRIH' 'MEBE']

In [19]:
vehicle_year_null_count = df['Vehicle Year'].isnull().sum()
print("Number of null values in 'Vehicle Year' column:", vehicle_year_null_count)

Number of null values in 'Vehicle Year' column: 0

In [38]:
print(df['Violation County'].head(15))

0     BX
1     BX
2     BX
3     NY
4     NY
5     QN
6      K
7     BX
8     QN
9     BX
10     Q
11    NY
12    QN
13    BX
14     K
Name: Violation County, dtype: object

In [39]:
unique_violation_counties = df['Violation County'].unique()
print(unique_violation_counties)

['BX' 'NY' 'QN' 'K' 'Q' 'R' 'BK' 'ST' 'MN' nan 'BRONX' 'QNS' 'KINGS']